<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Site</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script src="script.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.21.1/minified.js"></script>
</head>
<body>
    <<header>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'add_animal' %}">Добавить анкету</a>
            <a href="{% url 'about' %}">О нас</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- Окно с соглашением о куки-файлах -->
    <div class="cookie-consent" id="cookie-consent">
        <p>Мы используем куки-файлы для улучшения вашего опыта. Продолжая использовать сайт, вы соглашаетесь с этим.</p>
        <button onclick="acceptCookies()">Принять</button>
    </div>
    <script>
        function acceptCookies() {
            document.getElementById('cookie-consent').style.display = 'none';
            localStorage.setItem('cookiesAccepted', 'true');
        }

        if (localStorage.getItem('cookiesAccepted')) {
            document.getElementById('cookie-consent').style.display = 'none';
        }
    </script>
<script>
    document.getElementById('menuToggle').addEventListener('click', function() {
        var menu = document.getElementById('menu');
        menu.classList.toggle('active');
    });
</script>
</body>
<footer>
    <p>Сайт создан студентами МАДИ из группы 1бИТС4 и 1бИТС2 в рамках проекта обучение служением</p>
    <p>Референсы: Источник изображений background <a href="#"> www.freepik.com</a></p>
    <p>Разработчик: <a href="#">@Kirimdo</a></p>
    <p>Лицензия: MIT</p>
</footer>
</html>